<div class='toolbar'>
    <ul class='actions'>
      <li id="new_question_category_link">
        <%= button_link_to t("new_question_category"), 
                         new_admin_question_category_url, 
                         { :remote => :true, :icon => 'add', 'data-update' => 'new_question_category', :id => 'new_question_category_link' } %>
      </li> 
    </ul>
  <br class='clear' />
</div>
<div id="new_question_category" data-hook></div>

<h1><%= t("question_categories") %></h1>
<table id="question_categories" class="index">
  <tr data-hook="question_categories_header">
    <th><%= t("category") %></td>
    <th><%= t("questions") %></td>
    <th data-hook="question_categories_header_actions"></th>
  </tr>
<% @question_categories.each do |category| %>
  <tr id="<%= dom_id category %>" data-hook="question_categories_rows"> 
    <%- locals = {:category => category} %>
    <td><span class="handle"></span> <%= h category.name %></td>
    <td><%= category.questions.count %></td>
    <td class="actions" data-hook="question_categories_row_actions">
      <%= link_to_edit category %>&nbsp;
      <%= link_to_delete category %>
    </td>
  </tr>
<% end %> 
</table>

<script type="text/javascript" charset="utf-8">
  $('#question_categories').ready(function(){
    $('#question_categories tbody').sortable(
      {
        handle: '.handle',
        update: function(event, ui) {
          $("#progress").show();
          var positions = {};
          var reg = /(\w+_?)+_(\d+)/;
          $.each($('#question_categories tbody tr'), function(position, obj){
            var parts = reg.exec($(obj).attr('id'));
            if (parts) positions['positions['+parts[2]+']'] = position;
          });
          $.ajax({
            type: 'POST',
            dataType: 'script',
            url: 'question_categories/update_positions',
            data: positions,
            success: function(data){ $("#progress").hide(); }
          });
        }
      });
  });
</script>